---

---


<section aria-labelledby="logocloud-two">
    <div class="items-center px-8 py-12 mx-auto 2xl:max-w-7xl lg:px-16 md:px-12 xl:px-36 lg:py-24 w-xl">
      <div class="lg:items-center lg:gap-8 lg:grid lg:grid-cols-2">
        <div>
          <div class="max-w-xl lg:p-10">
            <div>
              <p class="text-4xl text-black">
                I am a heading to describe your customers journey
              </p>
              <p class="max-w-xl mt-4 text-lg tracking-tight text-gray-600">
                Whether you're a beginner or an experienced programmer, our SaaS product offers the tools you need to be successful.
              </p>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-0.5 lg:grid-cols-3 lg:mt-0 md:grid-cols-2 mt-8">
          <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-5">
            <img class="max-h-12" src="../images/logos/1.svg" alt="logo">
          </div>
          <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-5">
            <img class="max-h-12" src="../images/logos/2.svg" alt="logo">
          </div>
          <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-5">
            <img class="max-h-12" src="../images/logos/3.svg" alt="logo">
          </div>
          <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-5">
            <img class="max-h-12" src="../images/logos/4.svg" alt="logo">
          </div>
          <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-5">
            <img class="max-h-12" src="../images/logos/5.svg" alt="logo">
          </div>
          <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-5">
            <img class="max-h-12" src="../images/logos/6.svg" alt="logo">
          </div>
          <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-5">
            <img class="max-h-12" src="../images/logos/7.svg" alt="logo">
          </div>
          <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-5">
            <img class="max-h-12" src="../images/logos/8.svg" alt="logo">
          </div>
          <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-5">
            <img class="max-h-12" src="../images/logos/9.svg" alt="logo">
          </div>
          <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-5">
            <img class="max-h-12" src="../images/logos/10.svg" alt="logo">
          </div>
          <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-5">
            <img class="max-h-12" src="../images/logos/11.svg" alt="logo">
          </div>
          <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-5">
            <img class="max-h-12" src="../images/logos/12.svg" alt="logo">
          </div>
          <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-5">
            <img class="max-h-12" src="../images/logos/13.svg" alt="logo">
          </div>
          <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-5">
            <img class="max-h-12" src="../images/logos/14.svg" alt="logo">
          </div>
          <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-5">
            <img class="max-h-12" src="../images/logos/15.svg" alt="logo">
          </div>
          <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-5">
            <img class="max-h-12" src="../images/logos/16.svg" alt="logo">
          </div>
          <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-5">
            <img class="max-h-12" src="../images/logos/17.svg" alt="logo">
          </div>
          <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-5">
            <img class="max-h-12" src="../images/logos/18.svg" alt="logo">
          </div>
        </div>
      </div>
    </div>
  </section>            